build/*.o
build/*.log
build/*.iso
build/*.bin
build/disk.img
objdump.txt
serial_output.log
qemu.log 

initrd/*

disk/*.img
disk/disk_1.img
disk/disk_2.img


*.crt
*.priv
*.signed

lvgl-9.2.2/*
**/*.o
**/*bin
**/*.swp
**/*.swo
**/*.gcda
**/*.gcno
tags
lvgl-9.2.3/docs/api_doc
lvgl-9.2.3/scripts/cppcheck_res.txt
lvgl-9.2.3/scripts/built_in_font/lv_font_*
lvgl-9.2.3/docs/doxygen_html
lvgl-9.2.3/docs/xml
lvgl-9.2.3/docs/examples.md
lvgl-9.2.3/docs/out_latex
lvgl-9.2.3/docs/_static/built_lv_examples
lvgl-9.2.3/3docs/LVGL.pdf
lvgl-9.2.3/docs/env
lvgl-9.2.3/docs/examples.rst
lvgl-9.2.3/docs/API/
lvgl-9.2.3/out_html
__pycache__
/emscripten_builder
lvgl-9.2.3/test_screenshot_error.h

lvgl-9.2.2/tests/build_*/
lvgl-9.2.3/tests/report/
lvgl-9.2.3/tests/wayland_protocols/
.DS_Store
.vscode
.idea
*.bak
lvgl-9.2.3/tests/test_images/
.vs/
build/*.a

build/
