build/*.o
build/*.log
build/*.iso
build/*.bin
build/disk.img
objdump.txt
serial_output.log
qemu.log 

Disk

lvgl-9.2.2/*
**/*.o
**/*bin
**/*.swp
**/*.swo
**/*.gcda
**/*.gcno
tags
lvgl-9.2.2/docs/api_doc
lvgl-9.2.2/scripts/cppcheck_res.txt
lvgl-9.2.2/scripts/built_in_font/lv_font_*
lvgl-9.2.2/docs/doxygen_html
lvgl-9.2.2/docs/xml
lvgl-9.2.2/docs/examples.md
lvgl-9.2.2/docs/out_latex
lvgl-9.2.2/docs/_static/built_lv_examples
lvgl-9.2.2/docs/LVGL.pdf
lvgl-9.2.2/docs/env
lvgl-9.2.2/docs/examples.rst
lvgl-9.2.2/docs/API/
lvgl-9.2.2/out_html
__pycache__
/emscripten_builder
lvgl-9.2.2/test_screenshot_error.h

lvgl-9.2.2/tests/build_*/
lvgl-9.2.2/tests/report/
lvgl-9.2.2/tests/wayland_protocols/
.DS_Store
.vscode
.idea
*.bak
lvgl-9.2.2/tests/test_images/
.vs/


build/
