# Last Updated 06-02-2026 11:13


*.crt
*.priv
*.signed


# ignoring following directories

build/
build/*
build/*.a
build/*.o
build/*.bin
build/*.iso

debug/
debug/*
debug/*.log

disk_img/
disk_img/*
disk_img/*.img