
.code {
     font-family: Monospace;
	font-size: 10pt;
}

.code_primitive {
     font-weight: bold;
}

.code_integer {
     color: blue;
}

.code_hex_integer {
     color: #8888FF;
}

.code_float {
     color: purple;
}

.code_comment {
     font-style: italic;
     color: gray;
}

.code_string {
     color: red;
}

.code_character {
     color: green;
}

.code_preprocessor {
     color: green;
}

.code_preprocessor_cmd {
     font-weight: bold;
}

.code_function {
     color: purple;
}

.code_label {
     color: blue;
     font-weight: bold;
}

.code_operator {
     color: navy;
}

.code_continuation {
     color: red;
}

.code_variable {
     color: green;
     font-weight: bold;
}

.code_typedef {
     color: darkgreen;
}


/*
     FILE ARCHIVED ON 12:28:15 Mar 26, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:11:23 Oct 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.543
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.012
  cdx.remote: 4.931
  LoadShardBlock: 31.562 (3)
  PetaboxLoader3.datanode: 74.03 (5)
  load_resource: 330.291 (2)
  PetaboxLoader3.resolve: 215.493 (2)
*/